{% extends "base.jinja" %}


{% block content %}
    <div><h1>Edit {{ task.description }}</h1></div><br>

    <form action="/tasks/{{task.id}}" method="post">
    
    <div>
        <label for="description">Description</label>
    
        <input type="text" id="description" name="description" required autofocus value="{{task.description}}">
    </div>
    <div>
        <label for="duration">Duration</label>
    
        <input type="number" id="duration" name="duration" required value="{{task.duration}}">
    </div>
    <div>
        <label for="completed">Completed</label>
    
        <input type="checkbox" id="completed" name="completed" {% if task.completed %}
            checked
        {% endif %}>
    </div>
    <div>
        <label for="user_id">User</label>
        <select name="user_id" id="user_id">
            {% for user in users %}
                <option value="{{user.id}}" {% if task.user.id == user.id %}
                    selected
                {% endif %}>{{ user.first_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <button type="submit">Confirm Edit</button>
    </div>
    
    
    
    
    
    
    
    
    </form>



{% endblock content %}